.container {
    padding: 0 !important;
}

div {
    word-break: break-all;
}

input {
    border:none
}
input:focus{
    outline: none;
}

.body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(112.36deg, rgba(255, 53, 53, 0.7) 10.26%, rgba(246, 86, 148, 0.718763) 36.92%, rgba(236, 122, 255, 0.74) 67.1%, rgba(51, 0, 255, 0.44) 94.05%);

    padding-right: 5%;
    padding-left: 5%;
}

.loginCard {
    height: 75vh;
    width: 50vw;
    background: rgba(207, 207, 207, 0.5);
border-radius: 50px;

    overflow: hidden;
    position: relative;
}

.hCenter {
    display: flex;
    align-items: center;    
    justify-content: center;
}

.vCenter {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

.hStack {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.zStack {
    display: grid;
    width: 100%;
    height: 100%;
}
.zStack > * {
    grid-row: 1;
    grid-column: 1;
}

.rightAlign {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.loginHeader {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputField {
    padding-left: 20px;
    width: 100%;
    height: 50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
}

.loginFormContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.loginForm {
    width: 100%;
    max-width: 500px;

    padding-right: 5%;
    padding-left: 5%;

    position: absolute;
}

.errorMsg {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #FF3939;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginBtn {
    background-color: transparent;
    width: 40%;
    border: 4px solid #73E6FF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 37px;

    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #73E6FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 50px
}

.fogotPasswordBtn {
    border: none;

    background-color: transparent;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #5D5D5D;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wavePosition {
    max-height: 700px;
    margin-left: -5%;
    position: absolute;
}

.lockIcon {
    position: absolute;
    margin-bottom: 200px;
    margin-left: 30px;
}